.CTA {
    align-items: flex-start;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .CTA .container-4 {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    width: calc(100% - 32px); /* Add padding on both sides */
    margin: 0 16px; /* Add margin for centering */
  }
  
  .CTA .content-15 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .CTA .row-5 {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 768px;
  }
  
  .CTA .heading-99 {
    align-self: stretch;
    color: #000000;
    font-family: var(--heading-h3-font-family);
    font-size: var(--heading-h3-font-size);
    font-style: var(--heading-h3-font-style);
    font-weight: var(--heading-h3-font-weight);
    letter-spacing: var(--heading-h3-letter-spacing);
    line-height: var(--heading-h3-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .CTA .text-10 {
    align-self: stretch;
    color: var(--col-9) !important;
    font-family: var(--text-medium-normal-font-family);
    font-size: var(--text-medium-normal-font-size);
    font-style: var(--text-medium-normal-font-style);
    font-weight: var(--text-medium-normal-font-weight);
    letter-spacing: var(--text-medium-normal-letter-spacing);
    line-height: var(--text-medium-normal-line-height);
    position: relative;
  }
  
  .CTA .heading-10 {
    align-self: stretch;
    color: #000000;
    font-family: var(--heading-h3-mobile-font-family);
    font-size: var(--heading-h3-mobile-font-size);
    font-style: var(--heading-h3-mobile-font-style);
    font-weight: var(--heading-h3-mobile-font-weight);
    letter-spacing: var(--heading-h3-mobile-letter-spacing);
    line-height: var(--heading-h3-mobile-line-height);
    margin-top: -1px;
    position: relative;
  }
  
  .CTA .text-11 {
    align-self: stretch;
    color: #000000;
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
  }
  
  .CTA .actions-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }

  .CTA.breakpoint-62-desktop {
    gap: 80px;
    padding: 112px 64px;
    width: 100%;
  }
  
  .CTA.breakpoint-62-desktop .container-4 {
    align-items: center;
    gap: 80px;
  }
 
  .CTA.breakpoint-62-desktop .content-15 {
    flex: 1;
    flex-grow: 1;
    gap: 24px;
  }
  

.style-secondary {
    align-items: center;
    border: 1px solid;
    border-color: #000000;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
  }
  
  .style-secondary .button-3 {
    color: #000000;
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  .style-primary-small-wrapper {
    align-items: center;
    background-color: #000000;
    border: 1px solid;
    border-color: #000000;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    padding: 12px 24px;
    position: relative;
  }
  
  .style-primary-small-wrapper .button-5 {
    color: #ffffff;
    font-family: var(--text-regular-normal-font-family);
    font-size: var(--text-regular-normal-font-size);
    font-style: var(--text-regular-normal-font-style);
    font-weight: var(--text-regular-normal-font-weight);
    letter-spacing: var(--text-regular-normal-letter-spacing);
    line-height: var(--text-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
    